h3 New Message
form(method="POST", action="/new")
  input(type="text", name="user", placeholder="Author's name")
  br
  br
  input(type="text", name="text", placeholder="Message text")
  br
  br
  button(type="submit") Submit