h3 New Message
form(method="POST", action="/new")
  input(type="text", name="messageUser", placeholder="Author's name")
  br
  br
  input(type="text", name="messageText", placeholder="Message text")
  br
  br
  button(type="submit") Submit